body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
 }
 
 body {
  padding: 0;
  margin: 20px auto;
  width: 67%;
  background-color: #f4f4f4;
  max-width: 1050px;
  min-width: 1050px;
 }
 .first_container_sectione1 {
  display: flex;
  flex-basis: 50%;
  height: 300px;
  position: relative;
  color: rgb(83, 83, 83);
  background-color: #fff;
 }
 .first_container_sectione1:hover {
  color: #76cdd8;
 }
 .first_container_sectione1:hover span {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #76cdd8 transparent transparent;
  border-width: 0 100px 100px 0;
  transition: all ease 0.5s;
 }
 .first_container_sectione2:hover span {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 100px 0 0;
  border-color: #76cdd8 transparent transparent transparent;
  right: 90.5%;
  transition: all ease 0.5s;
 }
 .first_container_sectione3:hover span {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #76cdd8 transparent transparent;
  border-width: 0 100px 100px 0;
  transition: all ease 0.5s;
  color: #76cdd8;
 }
 .card1 {
  display: flex;
  width: 50%;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  align-items: center;
  background-color: #76cdd8;
 }
 .card2 {
  flex-grow: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .card2 p {
  width: 60%;
 }
 .first_container_sectione2 {
  display: flex;
  flex-basis: 50%;
  height: 300px;
  position: relative;
  color: rgb(83, 83, 83);
  background-color: #fff;
 }
 
 .card3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
 }
 .card3:hover {
  color: #76cdd8;
 }
 .title2 {
  font-size: 26px;
  width: 490px;
  color: #76cdd8;
 }
 .text3 {
  width: 490px;
  margin: 0;
 }
 .card4 {
  height: auto;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #76cdd8;
  color: #fff;
 }
 .card4:hover {
  transform: scale(1.2);
  transition: all ease 0.5s;
 }
 .epic-games {
  margin-top: 20px;
  border-radius: 50%;
  width: 47%;
  height: 78%;
 }
 .first_container_sectione3 {
  display: flex;
  flex-basis: 50%;
  height: 300px;
  position: relative;
  color: rgb(83, 83, 83);
  background-color: #fff;
 }
 .card5 {
  height: 300px;
  width: auto;
  width: 50%;
 }
 .peyment {
  height: 100%;
  width: 100%;
 }
 .card5:hover {
  transform: scale(1.2);
  transition: all ease 0.5s;
 }
 .card6 {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50%;
 }
 .card6 p:hover {
  color: #76cdd8;
  transition: all ease 0.5s;
 }
 
 .text6 {
  width: 364px;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(83, 83, 83);
 }
 
 .read_more_btn {
  width: 30%;
  height: 45px;
  margin-right: 40px;
  background-color: #108c8b;
  border: 0;
  color: white;
  font-weight: 300;
 }
 .read_more_btn:hover {
  background-color: rgb(118, 205, 216);
  transition: all ease 0.5s;
 }
 .image_description {
  font-size: 12px;
 }
 .title6 {
  font-size: 26px;
  width: 369px;
  color: #76cdd8;
 }
 .second_container {
  display: flex;
  margin-top: 25px;
  background-color: #fff;
 }
 .second_container_text {
  font-size: 15px;
  line-height: 1.7;
  color: rgb(83, 83, 83);
  padding: 0px 25px 0px 21px;
 }
 
 .second_conteiner_title {
  margin: 20px 0px 0px 20px;
  color: #76cdd8;
  font-size: 30px;
 }
 
 .forest_photo {
  height: 100%;
  width: 308px;
 }
 .forest_photo:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
 }
 .section2_read_more_btn {
  width: 23%;
 
  background-color: #108c8b;
  border: 0;
  color: white;
  font-weight: 300;
 }
 
 .section2_read_more_btn:hover {
  background-color: rgb(118, 205, 216);
  transition: all ease 0.5s;
 }
 .btn_section2 {
  display: flex;
  justify-content: flex-end;
  height: 40px;
 }
 
 .third_container {
  background-color: #fff;
  height: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .basket {
  display: flex;
  height: 500px;
 }
 .plan_card {
  display: flex;
  flex-direction: column;
 
  margin: 0 25px;
  border: 1px solid #129899;
 }
 
 .condition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 30px;
 }
 .condition p {
  margin: 7px;
  font-size: 15px;
  color: rgb(83, 83, 83);
 }
 
 .buy_now_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 150px;
  background-color: #108c8b;
  color: #fff;
  border: 0;
  text-align: center;
  margin: 15px auto;
 }
 .plan_card_head {
  background-color: #129899;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
 }
 .plan_card_head p {
  margin: 2px;
 }
 
 .plan_head2 {
  font-size: 12px;
 }
 .third_container > div:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
 }
 .special_red {
  margin: 0 auto;
  display: none;
 }
 .plan_card:hover span {
  display: block;
  transition: all ease 0.5s;
 }
 .star {
  color: red;
 }
 .buy_now_btn:hover {
  background-color: rgb(118, 205, 216);
  transition: all ease 0.5s;
 }
 .application_form_title {
  height: 150px;
  background-color: #23d4d4;
 }
 
 .application_form_title p {
  color: #fff;
  padding: 21px 0px 0px 113px;
  font-size: 30px;
 }
 .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 50%;
  margin: 0 auto;
  transform: scale(1.5);
  background-color: #fff;
  padding: 30px 0px 80px 16px;
  position: relative;
 }
 .form_fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .field {
  height: 30px;
  border: 1px solid #ced4da;
  margin-top: 10px;
  padding: 0px 0px 0px 9px;
  color: #707070;
 }
 .field:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
 }
 .message {
  color: #707070;
 }
 .message:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
 }
 .field:first-child {
  margin: 0;
 }
 
 .submit {
  position: absolute;
  left: 48%;
  height: 30px;
  width: 98px;
  background-color: #119898;
  border: 0;
  color: white;
 }
 .submit:hover {
  transition: all ease 0.5s;
  background-color: rgb(118, 205, 216);
 }
 footer {
  background-color: #119898;
  color: white;
  padding-top: 100px;
  height: 250px;
  display: flex;
  justify-content: center;
  column-gap: 16%;
  font-size: 15px;
 }
 .first_column_footer:first-child {
  font-weight: 500;
  font-size: 21px;
  margin: 12px 0px;
 }
 