body{
    background-image: url(https://wallpapertag.com/wallpaper/middle/a/0/e/813662-warcraft-3-wallpapers-1920x1080-for-mac.jpg);
    background-repeat: no-repeat;
    
background-size: cover;
    /* height: 100%; */
}
.fight{
    display: none;
}
header{
    margin: 30px auto;
    text-align: center;
    font-size: 100px;
    color: #fff;
}
.start{
    margin: 400px auto;
    display: block;
    height: 100px;
    width: 400px;
    background-color: gray;
    border: 0;
    color: #fff;
    font-size: 50px;
}
.start:active{
    box-shadow: inset 4px 4px 4px 4px black;
}

.card{
    height:50px;
    width: 200px;
    margin: auto auto;
    border: 0;
    background-color: grey;
    color: #fff;
    font-size: large;

}
.card button{
    margin: 0 
}
.characters-list button:active{
    box-shadow: inset 4px 4px 4px 4px black;
}

.characters-list{
    margin: auto;
    height: 700px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.battle-field{
    height: 350px;
    width: 650px;
    background-color: gray;
    margin: auto;
    display: none;
}
.charter1{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 30px;
    background-color: #353535;
    border: 2px solid orange;
    padding: 20px;
    color: whitesmoke;
    
}
.charter2{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 30px;
    background-color: #353535;
    border: 2px solid orange;
    padding: 20px;
    color: whitesmoke;
    margin-left: auto;
}
.fight{
    margin: 200px auto;
    height: 60px;
    width: 200px;
    background-color: #202124;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
}

.fight:active{
    box-shadow: inset 4px 4px 4px 4px red;

}