.load_by_section{
    margin: 0;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.load_by_js{
    margin-right: 50px;
    height: 50px;
    width: 200px;
    color: #fff;
    border-radius: 30px;
    background-color: darkgreen;
    font-size: 20px;
}
.load_by_js:active{
    box-shadow: inset 5px 4px 4px 3px black;
    border: 1px solid #fff;
    transition: all ease 0.1s;
}
.load_by_fetch{
        height: 50px;
    width: 200px;
    color: #fff;
    border-radius: 30px;
    background-color: darkgreen;
    font-size: 20px;
}
.load_by_fetch:active{
    box-shadow: inset 5px 4px 4px 3px black;
    border: 1px solid #fff;
    transition: all ease 0.1s;
}
.two_columns{
    display: grid;
    /* margin-top: 50px; */
    grid-template-columns: repeat(2,1fr);
    width: 73%;
    margin: auto;
    text-align: center;
    column-gap: 50px;
}
/* .two_columns div{
    margin: 50px 50px 0px 50px;
    height: 20px;
    border: 2px solid grey;
}
.left_columns_card{
    height: 70px;
    text-align: center;
} */

.left_column{
    height: auto;
    border: 2px solid grey;
    position: relative;
}
.right_column{
   
    border: 2px solid grey;
}
.load_by{
    display: inline;
}
.loading{
    display: none;
}
.load_by2{
    display: inline;
}
.loading2{
    display: none;
}

.left_column_card{
    height: 40px;
    text-align: center;
    width: 100%;
    border : 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_column_card:hover{
    background-color: grey;
    color: #fff;
    transition: all ease 0.5s;
}
.record{
    font-size: 27px;
    border: 1px solid grey;
}
.record button{
height: 30px;
width: 150px;
border-radius: 20px;
background-color: grey;
color: #fff;
  margin: 0px 30px 10px 30px;
}

#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;
  
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
  
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }
  
  #spinner.show {
    visibility: visible;
  }