
body{background-color:grey}.rule_title{text-align:center;color:#fff;margin-top:50px}.rules_text{display:flex;justify-content:space-around;color:#fff;margin-top:80px;font-size:25px}.rules_text div{border-bottom:1px solid white}.rules_text div:hover{transform:scale(1.3);transition:all ease 0.3s;color:#000}.buttons_play{margin:60px 0px 0px;display:flex;justify-content:space-evenly}.buttons_play button{height:40px;width:200px;border-radius:10px;border:0;font-size:20px}.buttons_play button:hover{transition:all ease 0.5s;background-color:#000;color:#fff;transform:scale(1.1)}.buttons_play .reset{position:absolute}.reset_b{text-align:center}.reset_b button{height:40px;width:200px;border-radius:10px;border:0;font-size:20px}.reset_b button:hover{transition:all ease 0.5s;background-color:#000;color:#fff;transform:scale(1.1)}.reset_b .reset{margin-top:50px}.game_status{display:flex;flex-direction:column;align-items:center;color:#fff;font-size:30px}

