@import './var.scss';
body{
    background-color: grey;
}
.rule_title{
    text-align: center;
    color:$colorWhite;
    margin-top: 50px;
}
.rules_text{
    display: flex;
    justify-content: space-around;
    color:$colorWhite;
    margin-top: 80px;
    font-size: 25px;
    & div{
        border-bottom: 1px solid white;
       
    }
    & div:hover{
        transform: scale(1.3);
        transition: all ease 0.3s;
        color: $colorBlack;
    }
    
}

.buttons_play{
    margin: 60px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    & button{
        height: 40px;
        width: 200px;
        border-radius: 10px;
        border: 0;
        font-size: 20px;
    }
    & button:hover{
        transition: all ease 0.5s;
        background-color: $colorBlack;
        color: $colorWhite;
        transform: scale(1.1);
    }
    & .reset{
        position: absolute;
    }
}
.reset_b{
    text-align: center;
    & button{
        height: 40px;
        width: 200px;
        border-radius: 10px;
        border: 0;
        font-size: 20px;
    }
    & button:hover{
        transition: all ease 0.5s;
        background-color: $colorBlack;
        color: $colorWhite;
        transform: scale(1.1);
    }
    & .reset{
        margin-top: 50px;
    }
}
.game_status{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colorWhite;
    font-size: 30px;
}

draw_title{
    display: none;
}