body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: "Atlas Grotesk Web", sans-serif;
}

header {
  background-color: #F5F5F5;
  margin: 0;
}

.navigation-left {
  display: grid;
  grid-template-columns: repeat(10, 110px);
  font-size: 17px;
  list-style: none;
  align-items: center;
  font-weight: 500;
  text-align: center;
}
.navigation-left a {
  color: #040000;
  text-decoration: none;
}
.navigation-left a:hover {
  box-shadow: 0px 0px 20px 6px rgba(128, 128, 128, 0.31);
  transition: all ease 0.5s;
}
.navigation-left .first_li_from_nav_blue {
  color: #6F92A9;
}
.navigation-left .first_li_from_nav_blue a {
  color: #6F92A9;
}

.navigation-right {
  display: grid;
  grid-template-columns: repeat(2, 167px);
  grid-area: 1/14;
  list-style: none;
  align-items: center;
}

.navigation-right li:hover {
  box-shadow: 0px 0px 400px 11px rgba(128, 128, 128, 0.31);
}

nav {
  display: grid;
}

.navigation-left li:first-child {
  color: #6D8FA5;
  font-size: 23px;
  font-weight: 400;
}

.header_text_and_picture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
}
.header_text_and_picture .dots {
  grid-area: 2/1;
  margin: auto;
  color: #DCDBDB;
}

.dots a:hover {
  color: #7D7A75;
}

.main_photo {
  height: auto;
  width: 58%;
  margin-left: auto;
  margin-right: 140px;
}

.header_text {
  width: 46%;
}

.header_title {
  color: #009697;
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 35px;
}

.header_title_first_leter {
  color: #009697;
  margin: 0;
  font-weight: 400;
  font-size: 35px;
}
.header_title_first_leter span {
  text-decoration: underline;
}

.find_area input, .find_area button {
  height: 30px;
  border-radius: 4px;
  border: 1px solid grey;
}
.find_area button {
  height: 32px;
  width: 120px;
  margin-left: 10px;
  background-color: #009697;
  border: 0;
  color: #fff;
}

.see_p_underline {
  text-decoration: underline;
  color: #a5823d;
  font-weight: 700;
  font-family: Larsseit-Bold, sans-serif;
}

.see_p_underline:hover {
  color: #e7a729;
  transition: all ease 0.5s;
}

.tranding_gold_p {
  color: #e7a729;
  margin-left: 25px;
  font-weight: 600;
  font-size: 21px;
}

.tranding_section {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: baseline;
  justify-content: center;
}
.tranding_section div {
  margin: auto;
}
.tranding_section div p {
  text-align: center;
}
.tranding_section div img {
  height: 100px;
}

.two_ways_title {
  margin: auto;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
.two_ways_title span {
  text-decoration: underline;
}

.two_ways_text {
  margin: auto;
  width: 530px;
  font-size: 18px;
}

.two_ways_next {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 50%;
  margin-top: 10px;
  gap: 170px;
}
.two_ways_next .leafs_with_text {
  width: 130%;
  font-size: 20px;
}
.two_ways_next img {
  width: auto;
  height: 300px;
}

.start_contest_title {
  font-weight: bold;
}

.work_directly_title {
  font-weight: bold;
}

.the_book_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  align-items: center;
}
.the_book_section .book {
  grid-area: 1/1/3/2;
  height: 70%;
  margin: auto 0;
}
.the_book_section .people {
  grid-area: 1/2/1/2;
}
.the_book_section .book2 {
  grid-area: 2/2;
}
.the_book_section .book_section_images {
  display: grid;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.the_book_section .book_section_images .arrow_left {
  position: absolute;
  height: 100px;
  top: 45%;
  display: flex;
  background-color: #a5823d;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.the_book_section .book_section_images .arrow_left p {
  font-size: 60px;
  color: #fff;
}
.the_book_section .book_section_images .arrow_left:hover {
  opacity: 0.6;
  transition: all ease 0.5s;
}

.book_section_text_and_title {
  position: relative;
  width: 50%;
}
.book_section_text_and_title .arrow_right {
  position: absolute;
  height: 100px;
  top: 44%;
  left: 169%;
  display: flex;
  background-color: #a5823d;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.book_section_text_and_title .arrow_right p {
  font-size: 60px;
  color: #fff;
}
.book_section_text_and_title .arrow_right:hover {
  opacity: 0.6;
  transition: all ease 0.5s;
}
.book_section_text_and_title .book_section_title {
  font-size: 40px;
  width: 600px;
  color: #a5823d;
}
.book_section_text_and_title .book_section_text {
  font-size: 26px;
  width: 600px;
  line-height: 1.6;
}

.book_section_review {
  display: grid;
  align-items: center;
  font-size: 21px;
  font-style: italic;
}
.book_section_review .review_image {
  width: 22%;
  border-radius: 50%;
  grid-area: 1/2/4/5;
  margin-right: 77px;
}
.book_section_review .review_row1 {
  margin-bottom: 0;
  grid-area: 1/3/2/3;
  margin-top: 40px;
}
.book_section_review .review_row2 {
  grid-area: 2/3;
  margin-top: 0;
}

.get_started {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #a5823d;
  margin-right: 30px;
  margin-left: auto;
  border: 0;
}

.join_now {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 20px;
  color: #a5823d;
  background-color: #fff;
  border: 1px solid #a5823d;
  margin-left: 30px;
}

.plants_articles_experts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 190px);
  width: 80%;
  margin: 50px auto;
}

.plants_articles_experts_text h3 {
  font-size: 46px;
  font-weight: lighter;
}
.plants_articles_experts_text h3 span {
  text-decoration: underline;
}
.plants_articles_experts_text p {
  margin-left: 30px;
  font-size: 21px;
}

.get_started:hover {
  opacity: 0.6;
  transition: all ease 0.6s;
}

.bigBlackBtn {
  height: 70px;
  width: 215px;
  margin: 145px auto;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.galery {
  display: grid;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  font-size: 18px;
}
.galery div {
  position: relative;
}
.galery div .diplay_text_on_image {
  display: none;
  position: absolute;
  top: 18px;
  left: 41px;
  background-color: #627C63;
  width: 444px;
  height: 440px;
  opacity: 0.85;
  flex-direction: column;
  justify-content: center;
}
.galery div .diplay_text_on_image p {
  color: #fff;
}
.galery div .diplay_text_on_image .food_label {
  width: 335px;
  font-weight: bold;
  font-size: 27px;
  margin: 0;
}
.galery div .diplay_text_on_image p:last-child {
  width: 76%;
}
.galery div img {
  height: 440px;
}
.galery div:hover .diplay_text_on_image {
  display: flex;
  align-items: center;
}

.stars {
  text-align: center;
  font-size: 50px;
}
.stars .star {
  margin: 0px;
}
.stars .star:hover {
  color: #e7a729;
  transition: all ease 0.5s;
}
.stars .stars_text {
  font-size: 21px;
}
.stars .stars_text span {
  text-decoration: underline;
}

.last_block {
  display: grid;
  grid-template-columns: repeat(2, 25%);
  justify-content: center;
  justify-items: center;
}
.last_block .tips_trends_and_tons {
  display: grid;
  height: 94%;
  grid-template-rows: repeat(4, 1fr);
}
.last_block .tips_trends_and_tons .tips_trends_and_tons_title {
  margin-bottom: 0;
}
.last_block .tips_trends_and_tons div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 20%;
  height: 47%;
  align-content: center;
}
.last_block .tips_trends_and_tons div img {
  width: 70px;
  height: 100px;
  grid-area: 1/1/4/2;
  margin-right: 40px;
}
.last_block .tips_trends_and_tons div .leaf_text {
  grid-area: 2/2/1/4;
  font-size: 17px;
  width: 275px;
  margin-bottom: 0;
  border-bottom: 1px solid #D8D8D8;
  line-height: 1.5;
}
.last_block .tips_trends_and_tons div .leaf_text:hover {
  color: #009597;
  transition: all ease 0.1s;
}
.last_block .tips_trends_and_tons div .leaf_days {
  grid-area: 2/4/4/2;
  margin-top: 0;
  color: #695A54;
}
.last_block .tips_trends_and_tons div .leaf_time {
  grid-area: 2/3/2/2;
  margin-left: 96px;
  width: max-content;
  margin-top: 0;
  color: #695A54;
}

.background {
  text-align: center;
  width: 97%;
  height: 88%;
  margin: 20px 20px 0px 0px;
  background-image: url(../img/violets.jpg);
}
.background .fresh_ideas_title_and_text {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.background .fresh_ideas_title_and_text h3 {
  color: #009597;
  margin: 0;
  font-size: 30px;
}
.background .fresh_ideas_title_and_text p {
  width: 90%;
  font-size: 19px;
}
.background .fresh_ideas_title_and_text a {
  color: #AE8838;
  font-size: 35px;
  text-decoration: underline dotted;
}

footer {
  background-color: #F5F5F5;
  border: 1px solid #dad9d7;
}
footer .create_with_p {
  text-align: center;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.footer_container .first_column {
  margin: 0 auto;
}
.footer_container .second_column {
  margin: 0 auto;
}
.footer_container .third_column {
  margin: 0 auto;
}

.footer_container p:hover {
  color: #e7a729;
  transition: all ease 0.1s;
}

.last_row {
  display: flex;
  justify-content: space-around;
  grid-area: 2/1/2/3;
}

.create_with_p {
  border-bottom: 1px solid black;
  width: 80%;
  margin: 30px auto 0px;
}

.first_row {
  color: #7293AB;
  font-weight: bold;
}