@mixin daysHover {
  border-radius: 50%;
  width: 48px;
  height: 50px;
}
@mixin turnArrow {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 15px solid #000; 
  transform: rotate(-90deg);
  transition: all ease 0.3s;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
body{
  font-family: 'Noto Serif', serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;

}
.head-of-calendar{
  display: flex;

  width:100%;
  justify-content: space-around;

  align-items: center;
  grid-area: 1/1/1/8;
  border-bottom: 1px solid grey;
}
.head-of-calendar h3{
  font-style: normal;
width: 140px;
font-size: 20px;
}
.game-area{
  display:grid;
  text-align: center;
  margin: 50px 0px;
  width:350px;
  border-radius: 8px;
  box-shadow: 4px 5px 13px 0px grey;
  padding: 0px 0px 20px;
}
.buttons-container{
  display: flex;

  height: 15px;
  justify-content: space-between;
}
table{


  height: 250px;
  width: 320px;

}
.days{
  display: flex;
  flex-wrap: wrap;
  grid-area: 3/1/3/8;

}
.days div{
 height: 50px;
width:48px;
// line-height: 40px;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
margin: 1px;
}
.weekdays{
  font-size: 20px;
  padding-top: 5px;
  display: grid;
  grid-area: 2/1/2/8;
  grid-template-columns: repeat(7,1fr);
  justify-content: space-evenly;
}
.days div:hover{
  background-color: #0166C0;
  transition: all ease 0.3s;
  cursor: pointer;
@include daysHover();


  justify-content: center;
align-items: center;


  
}
.previuos{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
  border-bottom: 10px solid grey;
}
.next{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 10px solid grey;
}
.previuos:hover{
@include turnArrow();
}
.next:hover{
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #000;
  transform: rotate(-90deg);
  transition: all ease 0.3s;
}
.curent-day{
  background-color: #0166C0;
   @include daysHover();

   color:#fff;
}

.prev-days, .next-days{
 color: grey;
}